<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xujie.infra.mapper.UserAreaMapper">
  <resultMap id="BaseResultMap" type="com.xujie.infra.entity.UserArea">
    <!--@mbg.generated-->
    <!--@Table user_area-->
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="area_id" jdbcType="BIGINT" property="areaId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    user_id, area_id
  </sql>
</mapper>